body {
  font-family: 100% "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vw;
  background: #03020D;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* nav */
  /*header*/
  /*Article*/
}
body nav {
  z-index: 10;
}
body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body nav li a {
  display: block;
  color: #30706D;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
body nav li {
  float: left;
  border-right: 1px solid #0f0202;
}
body header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 80vw;
  background-image: url(background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body header h1 {
  color: #30706D;
  font-size: 100px;
  text-align: center;
  position: relative;
  top: 100px;
  right: 120px;
  padding: 0;
  margin: 0;
}
body article {
  background-color: #03020D;
  /* Tooltip CSS Start */
  /* Gap filler */
  /* Tooltip */
  /* Arrow */
  /* Tooltip content*/
}
body article h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 10px;
  left: 20px;
  padding: 0;
  margin: 0;
}
body article button {
  text-align: center;
  background-color: white;
  color: #30706D;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  right: 700px;
  bottom: 80px;
}
body article .interactive-map {
  padding: 100px;
  position: relative;
  left: 50px;
  display: block;
  width: 100%;
  margin: 2% auto;
  max-width: 1200px;
  max-height: 800px;
  overflow: hidden;
  border-radius: 10px;
}
body article .interactive-map > img {
  vertical-align: top;
  position: relative;
  width: 97%;
  border-radius: 10px;
}
body article .map-point i {
  font-size: 2vw;
  color: #b92020;
}
body article .map-point img,
body article .map-point span {
  cursor: pointer;
  outline: none;
  z-index: 2;
  position: absolute;
}
body article .map-point {
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
body article .tooltip {
  display: block;
  position: absolute;
  z-index: 0;
}
body article .tooltip-item::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);
}
body article .tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}
body article .tooltip-content {
  position: absolute;
  width: 256px;
  left: -28%;
  margin: 0 0 20px -114px;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
body article .tooltip-effect-4 .tooltip-content {
  transform-origin: 50% 100%;
  transform: scale3d(0.7, 0.3, 1);
  transition: opacity 0.2s, transform 0.2s;
}
body article .tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}
body article .tooltip:hover {
  z-index: 9999;
}
body article .tooltip-content::after {
  content: "";
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
  z-index: 99999;
}
body article .tooltip-text {
  font-size: 2em;
  line-height: 1.35;
  display: block;
  font-family: "Open Sans";
  text-align: center;
  padding: 1em 1em 1em 1em;
  color: #fff;
  position: relative !important;
}
body article .clearfix {
  clear: both;
}
body section .dolomities-text h1 {
  text-align: left;
  font-size: 150px;
  padding-left: 150px;
  position: relative;
  top: 455px;
  color: #30706D;
}
body section .dolomities p {
  text-align: right;
  position: relative;
  right: 100px;
  bottom: 350px;
  color: white;
}
body section .dolomities h2 {
  color: #0c4b6f;
  font-size: 50px;
  text-align: right;
  position: relative;
  right: 100px;
}
body section .dolomities img {
  position: relative;
  left: -330px;
  bottom: 200px;
}
body section .venice-text h1 {
  text-align: right;
  font-size: 300px;
  position: relative;
  top: 600px;
  right: 30px;
  z-index: -1;
  letter-spacing: 60px;
  color: #30706D;
}
body section .venice p {
  text-align: left;
  position: relative;
  bottom: 350px;
  left: 150px;
  color: white;
}
body section .venice h2 {
  color: #0c4b6f;
  font-size: 50px;
  text-align: left;
  position: relative;
  left: 150px;
}
body section .venice img {
  position: relative;
  left: 360px;
  bottom: 220px;
}/*# sourceMappingURL=nightmode.css.map */